*,*::before, *::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}

* {
    font-family: "Gilroy", "Arial", serif;
    margin: 0;
    padding: 0; 
}body{
        background-color: #F6F6F6;
}
header {  
    z-index: -1;
}
.section-heart{
    background-color: #fff;
}
.header__img-word{
    position: relative;
}
.header__imd-word_word-1{
    position: absolute;
    top: 374px;
    z-index: 1;
}
.header__imd-word_word-2{
    position: absolute;
    left: -2px;
    top: 566px;
    z-index: 1;
}
.header__imd-word_word-3{
    position: absolute;
    left: 296px;
    top: 671px;
    z-index: 1;
}
.container {
    max-width: 1146px;
    margin: 0 auto;
    position: relative;  
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 0;
    z-index: 0;
    position: relative;
}
.nav-list li{
    float: left;
    
    list-style: none;
}
.nav-list li:nth-child(2){
    padding-left: 32px;
}
.nav-list li:nth-child(3){
    padding-left: 194px;
}
.nav-list li:last-child{
    padding-left: 31px;
}
.nav-list li>a {
    text-decoration: none;
    color: #242424;
    font-size: 16px;;
    font-weight: 600;
    line-height: 19px;
    display: flex;  
}
.nav-networks{
    padding-right: 69px;
    display: flex;  
}
.nav-img{  
    padding-right: 28px;
    align-items: center;
    display: inline-flex;
}
.nav-img__link svg {
    fill: none; 
   
} 
    
.nav-img__link:hover svg {
    fill: #FFD458;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(113, 113, 113, 0.2);  
}
.nav-img__link:active svg {
    fill: #FFBC00;
    border-radius: 50%;
}
.header_img__dog {
    background-image: url("../assets/backgroud/dog_header.jpg");
    position: absolute; 
    top: 0;
    right: 0;
    left: auto; 
    width: 718px;
    height: 713px;
    border-radius: 0px 0px 8px 8px;
    z-index: 0;
}
.header_img__cat{
    background-image: url("../assets/backgroud/cat_header.png");
    width: 483px;
    height: 469px;
    position: absolute;
    top: 470px;
    margin-left: 69px;
}
.header-content{
    padding: 37px 0 272px 0;
    display: block;
    margin: 0;
    z-index: 3;
    position: relative;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;   
    font-size: 72px; 
    color: #242424;
    line-height: 89px;
    max-height: 79px;
    padding-bottom: 2px;
    position: relative;
    margin: 0;
}
.header-content p{
    position: relative;
    max-width: 659px;
    font-size: 16px;
    font-weight: 600;
}
.header-content p:nth-child(2){
    color: #6B6B6B;
    font-weight: 300;
    padding-bottom: 12px;
    line-height: 19px;
   
}
.header-content p:nth-child(3){
    line-height: 140%;
    color: #474747;
    padding-bottom: 43px;
    line-height: 140%;

}
.header-content p:nth-child(4){
   font-size: 24px;
   color: #C78100;
   max-width: 428px;
   padding-bottom: 44px;
   line-height: 29px;
}
 .button__link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #FBC832;
    border-radius: 58px;
    width: 182px;
    height: 42px;
    left: 32px;
    right: 33px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    position: relative;
}

/* Секция-1 "Помощь добрых сердец" */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.section-heart{
    display: flex;
    padding: 54px 0px 75px 0px;
}
.section-heart__img_rectangle{
    max-width: 599px;
    max-height: 521px;
    background: #FFC41E;
    border-radius: 0 260px 260px 0;
    position: relative;
    display: block;
    padding: 31px 23px 26px 112px;
}


.section-heart__img_circle {
    width: 245px;
    height: 245px;
    border-radius: 132px;
    background: #EEBF3A;
    z-index: 4;
    position: absolute;
   left: 383px;
   top: 296px; 
   /* bottom: 55px;  */
   padding: 8px 8px 9px 9px;
}
.section-heart__img-cat{
    z-index: 5;
    position: relative;  
} 
.section-heart__content-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #C78100;
    padding: 74px 0 28px 0;
}
.section-heart__content{
    padding-right: 207px;
    padding-left: 94px;
}
.section-heart__content p{
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    font-weight: 400;
    padding-bottom: 20px;
}

/* Секция-2 "Как помочь? */

.section-help {
    background-color: #F6F6F6;
}
.section-help__icons{
    display: flex;
    justify-content: space-between;

}
.section-help__icons-box p{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #474747;
    margin-top: 24px;
}
.section-help__icons div{
    flex-grow: 1;
    max-width: 166px;
    text-align: center;
}

.section-help__title {
    font-weight: 300;
    font-size: 28px;
    padding: 80px 0 47px 0 ;
    color: #242424; 
    line-height: 24px;
    text-align: center;
}

.section-help__circle{
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid #FFC41E;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.section-help__circle:hover{
    background: #fff;
    
}
.section-help__circle:active{
   background:#F8ECCB;
   
}
.section-help__icon-link svg{
    margin: auto 0;
}

.section-help__flex{
    display: flex;
    margin: 68px 0;   
}
.section-help__flex-item{
    width: 100%;
    
}
.section-help__flex-item_img{
    padding-left: 34px;
    padding-right: 32px;
}
.section-help__flex-item:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EEBF3A;
    position: relative;
    top: 75px;
}

.section-help__content{
    display: flex;
    padding-left: 174px; 
}
.section-help__content-text{
    padding-right: 97px;
    margin-bottom: 72px;
}
.title-w600{
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 11px;
   
}
.section-help__content-text>p{
    font-size: 16px;
    line-height: 140%;
    color: #242424;  
}
.title-padding{
    padding: 0;
    margin-bottom: 8px;
}
/* Карточки с животными */
.section-help__card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
   
}

.section-help__card-box{
    background: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    max-width: 368px;
    padding: 16px 16px 20px 17px;
    position: relative;
    padding-bottom: 121px;
    margin-bottom: 20px;
    margin-top: 24px;
}



.section-help__card-box_1 h4{
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #242424;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.section-help__card-box_1>hr{
    color: #D6D6D6;
    opacity: 0.5;
}
.section-help__card-box_1 p:nth-child(4){
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B6B6B;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 4px;
}
.section-help__card-box_1 p:nth-child(5){
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    text-align: left;
    margin-bottom: 33px;
}
.button{
    text-align: center;
   position: absolute;
   bottom: 0;
   padding-bottom: 20px;
    
}
.button__button-color{
    background: #FBC832;
    border-radius: 58px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #242424;
    padding: 5px 33px 5px 32px;
    margin-bottom: 17px;
    outline-style: none;
}
.button__button-border{
    border: 2px solid #FFC41E;
    border-radius: 58px;
    background: #FFFFFF;
    color: #242424;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding: 3px 33px 3px 32px;
    outline-style: none;
    margin: 1px 0;
}
.button__button-color:hover{
    background: #FFDF86;
    box-shadow: 0px 2px 4px #CCCCCC;
}
.button__button-color:active{
    background:  #FFBB0C;
    background-blend-mode: multiply;
    
}
.button__button-border:hover{
    border: 3px solid #FFBC00;
    box-shadow: 0px 2px 4px #CCCCCC;
    margin: 0;
}
.button__button-border:active{
    background: rgba(255, 196, 30, 0.2);
    border: 3px solid #FFBC00;
    
}
.button__button-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #AD7F00;
    text-align: center;
    margin: 0 auto;
}
.section-help__socs{
    display: inline-flex;
    justify-content: center;
    padding: 76px;
    
}
.section-help__socs p{
    font-size: 18px;
    line-height: 133%;
    color: #242424;
    flex-basis: 583px;
    margin-left: 7px;
    margin-right: 38px;
}
.socs-img__link-vk{
    fill: none;
    padding-right: 32px;
    
}
.socs-img__link-vk:hover svg{
    fill: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 4px #CCCCCC; 
}
.socs-img__link-vk:active svg{
    fill: #F8ECCB;
}
.nav-img__link-inst:hover svg{
    fill: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 4px #CCCCCC; 
}

.nav-img__link-inst:active svg{
    fill: #F8ECCB;    
}